<a href="https://colab.research.google.com/github/paoaleman19/M21-deep_learning/blob/main/Starter_CodeM21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [63]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [64]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [65]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [66]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [67]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df.APPLICATION_TYPE.value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [68]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<528].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [69]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [70]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#class_counts2 = class_counts.loc[class_counts>1]
#class_counts2

In [71]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(class_counts[class_counts<1800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [78]:
#Check data types
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [79]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [89]:
# Split our preprocessed data into our features and target arrays
y= application_df['IS_SUCCESSFUL'].values

X= application_df.drop ('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 78)

In [90]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [95]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 80)                3120

 dense_13 (Dense)            (None, 30)                2430

 dense_14 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,581
Trainable params: 5,581
Non-trainable params: 0
_________________________________________________________________

In [96]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [97]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5819 - accuracy: 0.7187
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5703 - accuracy: 0.7271
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5690 - accuracy: 0.7272
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5676 - accuracy: 0.7275
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5666 - accuracy: 0.7276
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5670 - accuracy: 0.7289
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7282
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7291
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5654 - accuracy: 0.7276
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7278
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5650 - accuracy: 0.7289
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5651 - accuracy: 0.7285
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5646 - accuracy: 0.7289
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5642 - accuracy: 0.7286
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7288
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5638 - accuracy: 0.7299
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7299
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7295
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7292
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7296
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5632 - accuracy: 0.7297
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7294
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7296
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7302
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7290
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7289
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7299
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5625 - accuracy: 0.7298
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7296
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7297
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7310
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7299
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7302
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7306
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7305
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7299
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7304
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5616 - accuracy: 0.7314
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5619 - accuracy: 0.7307
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7311
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7310
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7306
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7308
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7301
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7300
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7306
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7310
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7315
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5613 - accuracy: 0.7305
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7308
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5609 - accuracy: 0.7306
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5608 - accuracy: 0.7313
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7315
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5609 - accuracy: 0.7310
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5610 - accuracy: 0.7308
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5607 - accuracy: 0.7312
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7310
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5607 - accuracy: 0.7315
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5607 - accuracy: 0.7315
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5608 - accuracy: 0.7313
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7308
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5609 - accuracy: 0.7307
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7310
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5607 - accuracy: 0.7308
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5604 - accuracy: 0.7319
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5603 - accuracy: 0.7320
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5606 - accuracy: 0.7307
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5604 - accuracy: 0.7313
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7316
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5603 - accuracy: 0.7311
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7309
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7315
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5603 - accuracy: 0.7313
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7317
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7314
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5601 - accuracy: 0.7318
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7318
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7317
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7320
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7314
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7318
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5597 - accuracy: 0.7314
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5597 - accuracy: 0.7318
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5599 - accuracy: 0.7317
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7316
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5601 - accuracy: 0.7314
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7317
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5598 - accuracy: 0.7313
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5598 - accuracy: 0.7317
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5598 - accuracy: 0.7323
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7320
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5596 - accuracy: 0.7318
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5599 - accuracy: 0.7311
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5594 - accuracy: 0.7315
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5598 - accuracy: 0.7315
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5600 - accuracy: 0.7321
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5602 - accuracy: 0.7315
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7316
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7316
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5597 - accuracy: 0.7313

In [98]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5704 - accuracy: 0.7214 - 358ms/epoch - 1ms/step
Loss: 0.5704062581062317, Accuracy: 0.7213994264602661

In [100]:
# Export our model to HDF5 file
from google.colab import files
nn.save("AlphabetSoupCharity.h5")
files.download("AlphabetSoupCharity.h5")